@inherits LayoutComponentBase
<style>

    figcaption {
        padding: 30px;
        text-align: center;
    }
    p{
        margin-top: 20px;
    }

</style>



<NavMenu/>
<div class = "container">
@Body
</div>