<nav class="navbar navbar-primary bg-dark">
    <div class="container">
    <span class="navbar-brand mb-0 h1">Zak's Website :)</span>

    <div class = "mt-2">
    <a class = "AboutButton navButton" href ="/aboutme">About Me</a>
    <a class= "BlogButton navButton" href ="/blog">My Blog</a>
    </div>

  </div>
</nav>

<style>
  .navbar {
    color: rgb(153, 18, 186);
  padding: 18px 0px;
  bottom: 10px;
}
</style>

<style>
  .navButton {
  border: none;
  background-color: rgba(128, 128, 128, 0);
  color: rgb(153, 18, 186);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  right: 700px;
  position: relative;
  cursor: pointer;
}
</style>