<nav class="navbar navbar-primary bg-dark">
    <div class="container">

    <div class = "mt-2">
    <div class="navdiv">
      <div class="logo">Zak Stanyer</div>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <!--   <li><a href="/blog">Blog</a></li>     -->
      </ul>

    </div>
    </div>
      
  </div>

</nav>

<style>
  .navbar {
  color: rgb(231, 231, 231);
  padding-left: 15px;
  padding-right: 15px;
  height: 90px;
}

  .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  .logo{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-right: 60px;
    position: relative;
    bottom: 10px;
  }
  li{
    display:inline-block;
  }
  li a{
    background-color: #ffffff00;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 35px;
    margin-top: 0px;
    padding: 22px 2px;
    display: inline-block;
    text-decoration:none;
    background: none;
  }

    a:hover {
        color: yellow;
    }

  .search-box{
    width: 350px;
    background: #eeeeee;
    height: 50px;

   
}

</style>
@code
{
  public string? SearchTerm { get; set; } = string.Empty;
  public List<string> games = new List<string>
    {
      "Omori",
      "Oneshot",
      "Final Fantasy VII Rebirth"
    };

}
