@page "/aboutme"

<PageTitle>About Me</PageTitle>
<br>
<h1>About Me</h1>
<br>
In 2024, I graduated Falmouth University with a grade 1st in Game Development: Programming, 
and during this time I developed strong object-oriented programming skills.
<br>
<br>
Since then, I have concentrated on further developing my .NET skills and I have become very 
confident programming in C# as well as HTML and CSS.
I have experience developing front end web applications in Blazor using HTML/CSS and C#, as well as 
developing ASP.NET Core applications to manage communication with the backend using a REST API.
<br>
<br>
I also have some experience managing SQL databases (MySQL) and running queries to retreive data from a table to display on the frontend.