@page "/aboutme"

<PageTitle>About Me</PageTitle>
<br>
<h1>About Me</h1>
<br>
In 2024, I graduated Falmouth University with a grade 1st in Game Development: Programming, 
and during this time I developed strong object-oriented programming skills.
<br>
<br>
Since then, I have concentrated on further developing my .NET skills and I have become very 
confident programming in C# as well as HTML and CSS.
I have experience developing front end web applications in Blazor using HTML/CSS and C#, as well as 
developing ASP.NET Core applications to manage communication with the backend using a REST API.
<br>
<br>
I also have some experience managing SQL databases (MySQL) and running queries to retreive data from a table to display on the frontend.

<br><br>
<h1>Skills</h1>
<br>
<div class="row">
    <div class="column">
        <img src="/csharpicon.png" alt="C#" style="width:80%"  class="centreimage">
    </div>
    <div class="column">
        <img src="/HTMLicon.png" alt="HTML" style="width:80%"  class="centreimage">
    </div>
</div>
<br><br>
<h1>Projects</h1>
<br>

<h3>Ludus Mortis</h3>
<a href="https://neothemod.itch.io/ludus-mortis"><p style="text-align:center; font-size: large;">View on Itch.io</p></a>
<br>
Ludus Mortis is a narrative-driven card game which revolves around games of blackjack between the player and death.
However, you will find that the game is rigged against you, and the only way to escape death is by cheating.
<br><br>
<img src="/download.png" width="853.33" height="480" class="centreimage"/>
<br><br>
This was our final group project and the project I am most proud of. I was the programmer on the team so I was responsible for the following:

<br>- Programming of blackjack gameplay​

<br>- Created a weighted random algorithm to affect cards drawn

<br>- Cheating mechanics, such as swapping out cards and changing bets

<br>- Created and algorithm for the dealer to cheat when they have a low hand

<br>- Functionality of the drinks

<br>- UI programming, including hand scores and chip balances

<br>- Sprite animation using the Unity Animator

<br>- Implementation of Fungus plugin in Unity to manage dialogue trees



<br><br><br>

<style>

.column {
  float: left;
  width: 50%;
  padding: 5px;
}
</style>

