@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my website!</h1>
<br>
I built this website using Blazor (C#/HTML) to serve as a portfolio, as well as a blog which I write to in my spare time.
<br>
This website is a WebAssembley app, which means I do not utilise a backend here. 
This is mainly due to the cost involved in hosting a web server. 
However, to show that I do have experience with APIs and database connections, 
i'll provide some screenshots of a local web server app which does have a backend.

