@page "/"

<PageTitle>Home</PageTitle>
<br>
<h1>Welcome to my website!</h1>
<br>
I built this website using Blazor to serve as a portfolio, as well as a blog which I write to in my spare time.
<br>
This website is a WebAssembley app, which means I do not utilise a backend here.
However, I have worked on other projects which handle api calls and involve databases in the backend, and they are documented on the Projects page.

<br>
<h1>About Me</h1>
<br>
In 2024, I graduated Falmouth University with a grade 1st in Game Development: Programming, 
and during this time I developed strong object-oriented programming skills.
<br>
<br>
Since then, I have concentrated on further developing my .NET skills and I have become very 
confident programming in C# as well as HTML/CSS and SQL.
I have experience developing front end web applications in Blazor, as well as 
developing ASP.NET Core applications to manage communication with a backend using a REST API.
<br>
<br>
I also have some experience managing SQL databases (SQL Server) and running queries to retreive data from a table to display on the frontend.

<br><br>
<h1>Skills</h1>
<br>
<div class="row">
    <div class="column">
        <img src="/csharpicon.png" alt="C#" style="width:100%"  >
        <br><figcaption>C#</figcaption>
    </div>
    <div class="column">
        <img src="/HTMLicon.png" alt="HTML" style="width:100%" >
        <br><figcaption>HTML/CSS</figcaption>
    </div>
    <div class="column">
        <img src="/GITicon.png" alt="Version Control" style="width:100%"  >
        <br><figcaption>Version Control</figcaption>
    </div>
    <div class="column">
        <img src="/Microsoft_.NET_logo.png" alt=".NET" style="width:100%" >
        <br><figcaption>.NET</figcaption>
    </div>
    <div class="column">
        <img src="/SQLIcon.png" alt="SQL" style="width:100%">
        <br><figcaption>SQL</figcaption>
    </div>

</div>

<style>

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
        float: left;
        width: 20%;
        padding: 5px;
    }


</style>

