@page "/RESTAPI"

<PageTitle>REST API</PageTitle>

This project is an example of a controller-based API created to interact with my SQL Server database.
<p></p>
<img src="/Screenshot_7.png" class="centreimage" />

This is the .http file which is used to send requests to the database to retrieve and modify data. As you can see, I have made a request to GET all games in the database and the entries have been displayed on the right.