@page "/RESTAPI"

<PageTitle>REST API</PageTitle>

<p>This project is an example of a controller-based API created to interact with my SQL Server database.</p>

<p></p><img src="/Screenshot_7.png" class="centreimage" />

<p>This is the .http file which is used to send requests to the database to retrieve and modify data. As you can see,
    I have made a request to GET all games in the database and the entries have been displayed on the right.
</p>

<p></p>
<img src="/APIConnectToDB.png" class="centreimage" />

<p>This shows my API establishing a connection to my SQL Server database, using the default connection string defined in appsettings.json.</p>
<br />
<style>

    p {
        margin-top: 50px;
    }

    img {
        width: 70%;
        height: auto;
    }

</style>