@page "/ProjectMyWebsite"
<PageTitle>My Website</PageTitle>
@using BlazorBootstrap

<h3>My Games Database</h3>
<br>
I work on this website for fun and it has been a great opportunity to increase my confidence with HTML and ASP.NET.
<p>On the frontend I have a list of entries which can be sorted, edited and deleted by the user. The user can also create new entries using a form.
    This is then commited to an SQL Server database so entries are saved when the program is closed.
</p>
<br>
<div class="row">
        <img src="/gamesdatabasehome.png" alt="C#" style="width:80%" class="centreimage">
        <br><figcaption>Sending a GET request</figcaption>
</div>
<div class="row">
        <img src="/gamesdatabaselist.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Mapping the request to an result</figcaption>
</div>
<div class="row">
        <img src="/formsearch.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Defining the variables of the GameDto (Data Transfer Object) class</figcaption>
</div>
<div class="row">
    <img src="/formsearch2.png" alt="HTML" style="width:80%" class="centreimage">
    <br><figcaption>Defining the variables of the GameDto (Data Transfer Object) class</figcaption>
</div>
<br>
<br><br><br>
Here are some of the projects I have worked on during my time at Falmouth University,
as well as in my own time.
They showcase my programming ability as well as my project management skills.
<br><br><br>



@code {

}
