@page "/ProjectLudusMortis"
<PageTitle>Ludus Mortis</PageTitle>
@using BlazorBootstrap

<h3>Ludus Mortis</h3>
<a href="https://neothemod.itch.io/ludus-mortis" target="_blank"><p style="text-align:center; font-size: large;">View the game's page on Itch.io</p></a>
<br>
Ludus Mortis is a narrative-driven card game which revolves around games of blackjack between the player and death.
However, you will find that the game is rigged against you, and the only way to escape death is by cheating.
<p>Read my development log <a href = "https://zakstanyer.wixsite.com/zakstanyer/ludusmortis" target="_blank">here.</a></p><br><br>
<img src="/download.png" width="853" height="480" class="centreimage"/>
<br><br>
This was our final group project and the project I am most proud of. I was the programmer on the team so I was responsible for the following:

<br>- Programming of blackjack gameplay​

<br>- Created a weighted random algorithm to affect cards drawn

<br>- Cheating mechanics, such as swapping out cards and changing bets

<br>- Created and algorithm for the dealer to cheat when they have a low hand

<br>- Functionality of the drinks

<br>- UI programming, including hand scores and chip balances

<br>- Sprite animation using the Unity Animator

<br>- Implementation of Fungus plugin in Unity to manage dialogue trees

<Carousel Style="margin-top: 50px; margin-bottom: 20px;">
    <CarouselItem Active="true">
        <img src="/ludusmortisgameplay.png" class="centreimage" />
        <figcaption style="text-align:left">A screenshot of the player looking down at their cards. Notice the card up the player's sleeve: this is one of the many ways the player can cheat and gain an advantage.</figcaption>
    </CarouselItem>
    <CarouselItem>
        <img src="/ludusmortisluck.png" class="centreimage" />
        <figcaption style="text-align:left">This script shows how the luck variable affects the chances of drawing high value cards by limiting the range of cards that can be drawn from.
        <br>The list of cards is sorted by ascending value, and has a length of 52. So if the player's luck is -10, for example, their cards will be drawn from item 1 in the list to only 42.
        <br>Else, if the player has positive luck, it eliminates the possibility of drawing low cards by drawing from a range starting at (1 plus luck).</figcaption>
    </CarouselItem>
    <CarouselItem>
        <img src="/ludusmortischeat.png" style="width:80%" class="centreimage"/>
        <figcaption style="text-align:left">This is a script used by the dealer to cheat against the player.
        <br>First of all, the dealer knows what their next card will be before it is drawn. This allows them to calculate the best card to swap out in order to get a score of 21 when the next card is drawn.
        When the player is not looking directly at the dealer, the Cheat method may be called. When this is called, the dealer will evaluate a card in their hand, as seen in the for loop.
        They can figure out how much they need to improve their score by to reach 21.
        <br>For example, if the dealer has a hand of 3, 5 and 8, equal to 16, they know they need to improve a card by 5 to reach 21. So using the Cheat method, they could swap out their 5 card for a 10, reaching 21.
        <br>The else loop is there if the dealer needs more than the highest possible card value to reach 21 (a 10). In this case, they will just swap a card out for a higher value card.
        </figcaption>
    </CarouselItem>
</Carousel>

<style>

    a{
        padding:2px;
        color:lightskyblue;
        text-decoration:underline;
    }
    img{
        width: 100%;
        height:auto;
    }

</style>
@code {

}
