@page "/projects"
<PageTitle>Projects</PageTitle>
@using BlazorBootstrap
<br />
<figcaption><h2 style="float:right; width:50%">Zombie Rush</h2></figcaption>
<img src="/zombierushicon.png" alt="Zombie Rush" style="float:left; width:50%">
<figcaption style="width:50%; text-align:center; overflow:hidden;">
    A top-down shooter featuring A* pathfinding, an inventory system, saving and loading progress, upgrade trees and more.
</figcaption>

<a href="/ProjectZombieRush" target="_blank" style="float:right">Read More</a>

<div style="margin-top:20%">
    <figcaption><h2 style="float:right; width:50%">Ludus Mortis</h2></figcaption>
    <img src="/download.png" alt="Ludus Mortis" style="float:left; width:50%">
    <figcaption style="width:50%; text-align:center; overflow:hidden;">
        A narrative-driven card game involving games of blackjack between the player and death. However, you will find that the game is rigged against you, and the only way to escape death is by cheating.
    </figcaption>
    <a href="/ProjectLudusMortis" target="_blank" style="float:right">Read More</a>
</div>

<div style="margin-top:20%">
    <figcaption><h2 style="float:right; width:50%">Games Database</h2></figcaption>
    <img src="/gamesdatabase.png" alt="Games Database" style="float:left; width:50%">
    <figcaption style="width:50%; text-align:center; overflow:hidden;">
        My Blazor Web App in which I connect to my SQL Server database to search, edit and create new entries using a form.
    </figcaption>
    <a href="/ProjectMyWebsite" target="_blank" style="float:right">Read More</a>
</div>

@code {

}
<style>

    h2{

        font-size: 28px;
        overflow-clip-margin: 20px;
        height: 80px;
    }

    a{
        border-radius: 25px;
        color: white;
        padding: 18px;
        margin-top: 10px;
        margin-right: 8%;
        font-size: 14px;
        text-align: center;
        width: 35%;
        height: 64px;
        background: linear-gradient(to right, rebeccapurple 10%, purple 90%);
    }


</style>