@page "/ProjectZombieRush"
<PageTitle>Zombie Rush</PageTitle>

<h1>Zombie Rush</h1>
This is my final solo project, developed during my third year at University.
It is a top-down shooter featuring state machines, upgrade trees, an inventory system, saving and loading progress, and more. 
Unfortunately, I no longer have access to the repository since leaving university, but I did create a blog which details the development process.
You can read it
<a href="https://zakstanyer.wixsite.com/zakstanyer/zombierush" target="_blank" style="text-decoration: underline; padding: 2px"> here.</a>
<br><br>

<br>
<video controls>
  <source src="/weapon change demo.mp4" type="video/mp4">
</video>
<p>This short video shows a few of my game's features. The enemies chase the player when they are in view,
    and you can see me purchasing a new weapon using coins and I switch between my owned weapons which have different stats.</p>

<p>
    <h2>A* Pathfinding and State Machines</h2>
    <br />For this project, I began implementing an A* pathfinding algorithm, like the one used in my
    <a href="https://zakstanyer.wixsite.com/zakstanyer/tankshootout" target="_blank" style="text-decoration: underline; padding: 2px"> Tank Shootout</a> game. This worked well initially, 
    but as you progress to later rounds of the game and more enemies are on screen and the area gets expanded, it became ineffective having every enemy trying to pathfind and it affected the game's performance.
    So in the end I have used a NavMesh for simple movement of the enemies, and then I implemented state machines to give the enemies complex behaviour. I found that this solution was less intensive on my system.
</p>

<h2>Enemy Spawning</h2>

<Carousel Style="margin-top: 70px">
    <CarouselItem Active="true">
        <img src="/image (17).png" class="centreimage" />
        <figcaption style="text-align:left">This code runs at the start of every round. The Wave Manager object checks if a spawner object is off screen before spawning an enemy.
            First, it selects a random spawner from the list, then checks if the spawner's isOnScreen variable is false.
            If it is, it runs the spawner's SpawnEnemy method. If it is on screen, it repeats this method until an off-screen spawner is found.
            <br>This means that enemies always spawn off-screen which prevents enemies spawning directly on the player.</figcaption>
    </CarouselItem>
    <CarouselItem>
        <img src="/image.png" class="centreimage" />
        <figcaption style="text-align:left">This script is run when the player upgrades their handgun, in the upgrade menu seen in the video above.
        <br>First, I check the player owns the gun, then, if they have not bought all the upgrades and can afford the upgrade,
        the coins are deducted from the player's total and the gun is upgraded.</figcaption>
    </CarouselItem>
    <CarouselItem>
        <img src="/image (6).png" class="centreimage"/>
        <figcaption style="text-align:left">This is the code for switching between weapons. Looking at EquipItem1, you can see the equipped item
        is changed to the first one in the list, but then I use a switch statement to check what weapon is equipped.
        <br>This is because the player could've obtained the weapons in any order. Then, I set the player's damage and fire rate values to the 
        weapon with the matching ID to what is equipped.</figcaption>
    </CarouselItem>
</Carousel>

<style>

figcaption{
text-align: center;
padding-bottom: 20px;
}

p{
    margin-top: 20px;
}
img {
    width: 70%;
    height: auto;

}

video{
    width: 100%;
    height: auto;
}
</style>



