@page "/ProjectMyWebsite"
<PageTitle>My Website</PageTitle>
@using BlazorBootstrap

<h3>My Games Database</h3>
<br>
I work on this website for fun and it has been a great opportunity to increase my confidence with HTML and ASP.NET.
<p>On the frontend I have a list of entries which can be sorted, edited and deleted by the user. The user can also create new entries using a form.
    This is then commited to an SQL Server database so entries are saved when the program is closed.
</p>
<br>
<h3>CREATE</h3>
<br>
<div class="row">
        <img src="/CREATEgame.png" alt="HTML" style="width:80%"  class="centreimage">
        <figcaption>By clicking the link on the home page, the user is directed to the Create page. 
            As you can see, it asks for the game's title, release date, genre, price, and a rating, then binds the input to the related variables.
        </figcaption>
</div>

<div class="row">
        <img src="/gamesdatabaselist.png" alt="HTML" style="width:80%"  class="centreimage">
        <figcaption>I have made three entries into the database. Each entry requries a Title, Release Date, Genre, Price and a Score.
            You can see the page has a search bar, a multiple page layout, and options to create new entries in a form, as well as the ability to edit and delete existing entries.
        </figcaption>
</div>

<div class="row">
        <img src="/scorevalidation.png" alt="HTML" style="width:60%"  class="centreimage">
        <figcaption>Here's an example of data validation being used. I have restricted the score field to an integer between 0 and 10.'
        </figcaption>
</div>

<div class="row">
    <img src="/datavalidationcode.png" alt="HTML" style="width:60%" class="centreimage">
    <figcaption>
        This is my code which validates user input when creating or editing game entries.
    </figcaption>
</div>

<Carousel Style="margin-top: 50px">
    <CarouselItem Active="true">
        <div class="row">
            <img src="/formsearch.png" alt="HTML" style="width:60%" class="centreimage">
            <figcaption>An example of the search bar used to find entries. (1/2)</figcaption>
        </div>
    </CarouselItem>
    <CarouselItem>
        <div class="row">
            <img src="/formsearch2.png" alt="HTML" style="width:60%" class="centreimage">
            <figcaption>The search bar matches results even if the full title is not entered. (2/2)</figcaption>
        </div>
    </CarouselItem>
</Carousel>

@code {

}
