@page "/ProjectMyWebsite"
<PageTitle>My Website</PageTitle>
@using BlazorBootstrap

<h3>My Games Database</h3>
<br>
I work on this website for fun and it has been a great opportunity to increase my confidence with HTML and ASP.NET.
<p>On the frontend I have a list of entries which can be sorted, edited and deleted by the user. The user can also create new entries using a form.
    This is then commited to an SQL Server database so entries are saved when the program is closed.
</p>
<br>
<div class="row">
        <img src="/gamesdatabaselist.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>I have made three entries into the database. Each entry requries a Title, Release Date, Genre, Price and a Score.
            You can see the page has a search bar, a multiple page layout, and options to create new entries in a form, as well as the ability to edit and delete existing entries.
        </figcaption>
</div>

<Carousel Style="margin-top: 50px">
    <CarouselItem Active="true">
        <div class="row">
            <img src="/formsearch.png" alt="HTML" style="width:80%" class="centreimage">
            <br><figcaption>An example of the search bar used to find entries. (1/2)</figcaption>
        </div>
    </CarouselItem>
    <CarouselItem>
        <div class="row">
            <img src="/formsearch2.png" alt="HTML" style="width:80%" class="centreimage">
            <br><figcaption>The search bar matches results even if the full title is not entered. (2/2)</figcaption>
        </div>
    </CarouselItem>
</Carousel>



@code {

}
