@page "/ProjectMyWebsite"
<PageTitle>My Website</PageTitle>
@using BlazorBootstrap

<h3>My Games Database</h3>
<br>
I work on this website for fun and it has been a great opportunity to increase my confidence with HTML and ASP.NET.
Below you can see an example of an API I wrote to interact with a database.
<br>
<div class="row">
        <img src="/Screenshot_41.png" alt="C#" style="width:80%" class="centreimage">
        <br><figcaption>Sending a GET request</figcaption>
</div>
<div class="row">
        <img src="/Screenshot_42.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Mapping the request to an result</figcaption>
</div>
<div class="row">
        <img src="/Screenshot_43.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Defining the variables of the GameDto (Data Transfer Object) class</figcaption>
</div>
<br>
<br><br><br>
Here are some of the projects I have worked on during my time at Falmouth University,
as well as in my own time.
They showcase my programming ability as well as my project management skills.
<br><br><br>



@code {

}
