@page "/projects"
@using BlazorBootstrap
<h3 style="float:left; margin-right:30px">Zombie Rush</h3>
<h3 style="float:right; margin-right:30px">Games Database</h3>
<br>
<br>
<br>

<div class="row">
    <div class="column">
        <figcaption><h2>Zombie Rush</h2></figcaption>
        <img src="/zombierushicon.png" alt="C#" style="width:100%">
        <li><a href="/ProjectZombieRush">Read More</a></li>
        <br>
    </div>
    <div class="column">
        <figcaption><h2>Hello</h2></figcaption>
        <img src="/HTMLicon.png" alt="HTML" style="width:100%">
        <br>
    </div>

</div>

@code {

}
<style>
    figcaption{
       
    }
    .column {      
        width: 50%;
    }
</style>