@page "/RESTAPI"
<PageTitle>REST API</PageTitle>

<button @onclick = "FetchData"> Get Data </button>

@if(game!=null)
{
	<h3>id: @game.id</h3>
	<h3>Title: @game.name</h3>
	<p>Completed: @game.isComplete</p>
}
else{
	<h3>id: -</h3>
	<h3>Title: -</h3>
	<p>Completed: -</p>
}


This project is an example of a controller-based API created to interact with my SQL Server database.
@code {
	public Game? game;

	public HttpClient httpClient = new HttpClient();

	public async Task FetchData()
	{
		game = await httpClient.GetFromJsonAsync<Game>("https://localhost:7029/api/games/1");
	}


	public class Game
	{
		public int id { get; set; }
		public string? name { get; set; }
		public bool isComplete { get; set; }
	}
}

