@page "/ProjectLudusMortis"
<PageTitle>Ludus Mortis</PageTitle>
@using BlazorBootstrap

<h3>Ludus Mortis</h3>
<a href="https://neothemod.itch.io/ludus-mortis" target="_blank"><p style="text-align:center; font-size: large;">View the game's page on Itch.io</p></a>
<br>
Ludus Mortis is a narrative-driven card game which revolves around games of blackjack between the player and death.
However, you will find that the game is rigged against you, and the only way to escape death is by cheating.
<br><br>
<img src="/download.png" width="853" height="480" class="centreimage"/>
<br><br>
This was our final group project and the project I am most proud of. I was the programmer on the team so I was responsible for the following:

<br>- Programming of blackjack gameplay​

<br>- Created a weighted random algorithm to affect cards drawn

<br>- Cheating mechanics, such as swapping out cards and changing bets

<br>- Created and algorithm for the dealer to cheat when they have a low hand

<br>- Functionality of the drinks

<br>- UI programming, including hand scores and chip balances

<br>- Sprite animation using the Unity Animator

<br>- Implementation of Fungus plugin in Unity to manage dialogue trees

@code {

}
