@page "/projects"
<PageTitle>Projects</PageTitle>
@using BlazorBootstrap
<br>

<div class="row">
    <div class="column">
        <figcaption><h2>Zombie Rush</h2></figcaption>
        <img src="/zombierushicon.png" alt="C#" style="width:97.6%">
        
        <a href="/ProjectZombieRush" target="_blank">Read More</a>
        <br>
    </div>

    <div class="column">
        <figcaption><h2>Ludus Mortis</h2></figcaption>
        <img src="/download.png" alt="C#" style="width:100%">

        <a href="/ProjectLudusMortis" target="_blank">Read More</a>
        <br>
    </div>

    <div class="column">
        <figcaption><h2>Games Database</h2></figcaption>
        <img src="/gamesdatabase.png" alt="C#" style="width:100%">

        <a href="/ProjectMyWebsite" target="_blank">Read More</a>
        <br>
    </div>

</div>

@code {

}
<style>
    h2{

        font-size: 20px;
        text-align:center;
        overflow-clip-margin: 20px;
        white-space: nowrap;
    }

    a{
        background-color: darkviolet;
        border: none;
        color: white;
        padding: 15px 32px;
        display: block;
        margin: auto;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        width: 150px;
    }
.column
{

    width: 30%;
}
</style>