@page "/projects"

<h1>Projects</h1>
&emsp;&emsp;&emsp;
<h3>My Website</h3>
<br>
I work on this website for fun and it has been a great opportunity to increase my confidence with HTML and ASP.NET.
Below you can see an example of an API I wrote to interact with a database.
<br>
<div class="row">
        <img src="/Screenshot_41.png" alt="C#" style="width:80%" class="centreimage">
        <br><figcaption>Sending a GET request</figcaption>
</div>
<div class="row">
        <img src="/Screenshot_42.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Mapping the request to an result</figcaption>
</div>
<div class="row">
        <img src="/Screenshot_43.png" alt="HTML" style="width:80%"  class="centreimage">
        <br><figcaption>Defining the variables of the GameDto (Data Transfer Object) class</figcaption>
</div>
<br>
<br><br><br>
Here are some of the projects I have worked on during my time at Falmouth University,
as well as in my own time.
They showcase my programming ability as well as my project management skills.
<br><br><br>
<h3>Ludus Mortis</h3>
<a href="https://neothemod.itch.io/ludus-mortis"><p style="text-align:center; font-size: large;">View on Itch.io</p></a>
<br>
Ludus Mortis is a narrative-driven card game which revolves around games of blackjack between the player and death.
However, you will find that the game is rigged against you, and the only way to escape death is by cheating.
<br><br>
<img src="/download.png" width="853.33" height="480" class="centreimage"/>
<br><br>
This was our final group project and the project I am most proud of. I was the programmer on the team so I was responsible for the following:

<br>- Programming of blackjack gameplay​

<br>- Created a weighted random algorithm to affect cards drawn

<br>- Cheating mechanics, such as swapping out cards and changing bets

<br>- Created and algorithm for the dealer to cheat when they have a low hand

<br>- Functionality of the drinks

<br>- UI programming, including hand scores and chip balances

<br>- Sprite animation using the Unity Animator

<br>- Implementation of Fungus plugin in Unity to manage dialogue trees



<br><br><br>

<h3>Zombie Rush</h3>
<a href="https://neothemod.itch.io/ludus-mortis"><p style="text-align:center; font-size: large;">View on Itch.io</p></a>
<br>
This is my final solo project, developed during my third year at University.
It is a top-down shooter featuring upgrade trees, an inventory system,
saving and loading progress, and more.
<br><br>
<img src="/download.png" width="853.33" height="480" class="centreimage"/>
<br><br>
This was our final group project and the project I am most proud of. I was the programmer on the team so I was responsible for the following:

<br>- Programming of blackjack gameplay​

<br>- Created a weighted random algorithm to affect cards drawn

<br>- Cheating mechanics, such as swapping out cards and changing bets

<br>- Created and algorithm for the dealer to cheat when they have a low hand

<br>- Functionality of the drinks

<br>- UI programming, including hand scores and chip balances

<br>- Sprite animation using the Unity Animator

<br>- Implementation of Fungus plugin in Unity to manage dialogue trees



<style>


figcaption{
text-align: center;
}

</style>



